<form class="upload">
    <label for="title">Title</label>
    <input type="text" name="title" id="title">

    <label for="description">Description</label>
    <textarea name="description" cols="32" rows="5"
    matInput matTextareaAutosize matAutosizeMinRows=1
    matAutosizeMaxRows=5></textarea>

    <label for="category">Category</label>
    <input type="text" name="category" id="category">

    <label for="vod">
        <i class="ph ph-upload"></i>

        <span>
            Drag & drop or
            <span>browse</span>
            your videos
        </span>
    </label>
    <input id="vod" type="file" name="vod" />
</form>