@import '../../../styles.scss';

.home {
    font-family: $fontFamily;

    .vod-thumbnails-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 20px;

        .vod-thumbnails-card {
            display: flex;
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-bottom: 10px;
            padding: 10px;

            .vod-thumbnails {
                aspect-ratio: 1 / 1;
                height: 256px;
                object-fit: cover;

                &:hover {
                    cursor: pointer;

                    .tooltiptext {
                        visibility: visible;
                    }
                }

                .tooltiptext {
                    visibility: hidden;
                    visibility: hidden;
                    width: 120px;
                    background-color: #555;
                    color: #fff;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 6px;
                  
                    /* Position the tooltip text */
                    position: absolute;
                    z-index: 1;
                    bottom: 125%;
                    left: 50%;
                    margin-left: -60px;
                  
                    /* Fade in tooltip */
                    opacity: 0;
                    transition: opacity 0.3s;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: #555 transparent transparent transparent;
                      }
                  }
            }

            .details {
                padding: 10px;
            }
        }
    }
}