<div class="home">
    <ul class="vod-thumbnails-container">
        @for (item of [].constructor(5); track $index) 
        {
            <li class=vod-thumbnails-card>
                <div class="vod-thumbnails" routerLink="/stream/{{$index}}"></div>
                <div class="details">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</p>
                    <b>Category:</b>
                </div>
            </li>
        }
    </ul>
</div>