@import '../../../styles.scss';

.home {
    font-family: $fontFamily;

    .vod-thumbnails-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 20px;

        .vod-thumbnails-card {
            display: flex;
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-bottom: 10px;
            padding: 10px;

            .vod-thumbnails {
                background-color: grey;
                aspect-ratio: 1 / 1;
                height: 256px;

                &:hover {
                    cursor: pointer;

                    .tooltiptext {
                        visibility: visible;
                    }
                }

                .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    font-family: $fontFamily;
                  
                    /* Position the tooltip */
                    position: absolute;
                    z-index: 1;
                  }
            }

            .details {
                padding: 10px;
            }
        }
    }
}