<div class="home">
    <ul class="vod-thumbnails-container">
        @for (vid of videos; track vid.id) {
            <li class=vod-thumbnails-card>
                <div class="vod-thumbnails"
                    routerLink="/stream/{{vid.id}}" >
                    <span class="tooltiptext">{{vid.title}}</span>
                </div>
                <div class="details">
                    <h1>{{vid.title}}</h1>
                    <p>{{vid.description}}</p>
                    <b>Category: </b>{{vid.category}}
                </div>
            </li>
        }
    </ul>
</div>