@import '../../../styles.scss';

.stream {
    font-family: $fontFamily;
    display: flex;
    padding: 10px;
    
    .video {
        min-width: 640px;
        height: fit-content;
        border: solid 1px grey;
    }

    .details {
        padding: 10px;
    }
}